@model Partido

<div class="col-lg-12">
    <p>Nuevo Partido.</p>

    <form method="post">

        <div class="text-center col-12">
            <div class="text-left col-12">
                <label>Local</label>
            </div>
            <div class="text-left col-12">
                <input type="text" id="Local" asp-for="local" required />
                <input type="text" id="MarcadorLocal" asp-for="PuntuacionLocal" value="0" disabled />
            </div>
        </div>
        <div class="text-center col-12">
            <div class="text-left col-12">
                <label>Visitante</label>
            </div>
            <div class="text-left col-12">
                <input type="text" id="Visitante" asp-for="visitante" required />
                <input type="text" id="MarcadorVisitante" value="0" asp-for="PuntuacionVisitante" disabled />
            </div>
        </div>
        <div class="text-center col-12">
            <div class="text-left col-12">
                <button class="btn-info" asp-controller="Partidos" asp-action="IniciarPartido" formmethod="post">Iniciar Partido</button>
            </div>
        </div>

    </form>

</div>